*{
    margin: 0;
    padding: 0;
}

.contenido{
    margin: 10px 200px 10px 200px;
    box-shadow: -10px 10px 70px -15px;
}

.grid__style{
    position: relative;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: "col__styleA col__styleB";
}

.col__styleA{
    grid-area: col__styleA;
}

.col__styleB{
    grid-area: col__styleB;
    background-color: rgb(56, 56, 56);
    color: white;
}

.title__style{
    position: absolute;
    background-color: orange;
    padding: 25px;
    top: 0;
    left: 0;
    right: 0;
    margin: 80px 200px 0 300px;
    z-index: 999;
    box-shadow: -10px -10px rgb(56, 56, 56);
}

.title__style h4, .title__style h6{
    font-weight: 800;
}   

.subtitle__styleA{
    background-color: orange;
    padding: 5px;
    font-weight: 800;
    font-size: 16px;
    width: 300px;
    margin-top: 285px;
    box-shadow: 5px -10px rgb(56, 56, 56);
}

.subtitle__styleB{
    background-color: orange;
    padding: 5px;
    font-weight: 800;
    font-size: 16px;
    width: 300px;
    margin-top: calc(225px - 200px);
    box-shadow: 5px -10px rgb(56, 56, 56);
}

.information__style{
    padding-left: 10px;
    margin-bottom: 50px;
}

.icons{
    padding-left: 5px;
    padding-right: 5px;
    color: orange;
}

.titulo{
    padding-left: 5px;
}

.line__style{
    margin: 10px;
    background-color: rgb(56, 56, 56);
    height: 5px;
}

.line__style2{
    margin: 10px;
    background-color: orange;
    height: 5px;
}

.line__style3{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
    height: 5px;
}

.icon__style{
    display: flex;
    justify-content: end;
}

.footerA__style{
    background-color: orange;
    height: 50px;
}

.subtitle__styleA2{
    padding: 5px;
    font-weight: 800;
    font-size: 16px;
    margin-top: 285px;
    margin-left: 40px;
    margin-right: 40px;
    border: 1px solid orange;
    text-align: center;
}

.subtitle__styleB2{
    padding: 5px;
    font-weight: 800;
    font-size: 16px;
    margin-top: 285px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 39px;
    border: 1px solid orange;
    text-align: center;
    margin-top: calc(225px - 200px);
}

.data__style{
    margin-top: 20px;
}

.data__style p{
    font-size: 16px;
}

.icons__data{
    padding-left: 30px;
    padding-right: 10px;
    color: orange;
}

.icons__data2{
    padding-right: 10px;
    color: orange;
}

.icon__foot{
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.icon__foot a{
    text-decoration: none;
    color: white;
}

.icon__foot a:hover{
    color: orange;
}

.btndown__style{
    background-color: rgb(56, 56, 56);
    width: 220px;
    color: white;
}